"*":
  "autocomplete-modules":
    babelPluginModuleResolver: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "whitespace"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 15
    preferredLineLength: 100
    showInvisibles: true
  "exception-reporting":
    userId: "d0212417-482c-45cf-910e-0c46477d2dee"
  "git-blame":
    colorCommitAuthors: true
    columnWidth: 621
  "goto-definition":
    performanceMode: true
  "linter-ui-default":
    panelHeight: 339
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  tester:
    gutterPosition: "Left"
  welcome:
    showOnStartup: false
